*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Better practice to have box sizing here and declare it in the body in case we want to change box sizing properties in any plugins or components, etc.*/
}

html {
    font-size: 62.5%;
    // height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    // background-image: url(/images/bg-pattern.svg);
    // height: 100%; 
}

