.cta {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
    background-color: $color-primary-dark-violet;
    overflow: hidden;
    color: white; 

    &__message {
        font-size: 5rem;
        width: 50%; 
        z-index: 3;
    }

    &__button {
        border: 1px solid white; 
        z-index: 2; 
        font-weight: normal;
    }

    img {
        position: absolute;
        right: 0; 
        z-index: 1;
        height: 100%;
        max-width: 50%;
    }

}