.footer {
    background-color: $color-neutral-light-gray;
    padding: 5rem 0; 
    position: relative;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__pattern {
        position: absolute;
        transform: translateY(-25%);
        width: 43%;
    }

    &__social {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    &__social-icons {
        
        img {
            margin-left: 1rem;
        }
    }

    &__divider {
        width: 100%;
        margin: 2.5rem 0 3.5rem 0; 
    }

    &__menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }
    
    &__menu {
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 3rem;

        li:first-child {
            margin-bottom: 2rem;
            color: $color-neutral-grayish-violet;
        }
    }

}