.heading {
    background-color: $color-primary-dark-violet;
    color: white; 
    position: relative; 
    z-index: 1;
    padding-top: 82px;

    &__container {
        display: grid; 
        grid-template-columns: minmax(auto, 50%) 1fr;

        padding: 10rem 0; 

    }

    &__info {

        p {
            margin: 3rem 0; 
            line-height: 2.7rem;
        }
    }

    &__button {
        border: 1px solid white;
        font-weight: normal;
    }

    &__img {
        width: 100%; 
        position: relative; 
        
        img {
            position: absolute;
            height: auto; 
            width: 83%; 
            max-width: 50rem; 
            right: 0;
        }
    }

}

.pattern {
    position: absolute;

    &--left {
        transform: translate(-30%, 65%);
        bottom: 0;
        width: 10%;
    }

    &--right {
        right: 0; 
        transform: translateY(-15%);
        z-index: 2; 
    }
}