.slider {
    padding: 4rem;
    border-bottom: 1px solid rgb(217, 224, 230); 

    @include phone {
        padding: 2rem;
    }

    &__stats {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;

        font-size: 1.3rem;
        font-weight: 800;
        margin: 2rem 0;

        @include phone {
            grid-template-columns: 1fr;
            // align-items: center;
            // row-gap: 0;

            text-align: center;
        }

    }

    &__views {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__price {
        text-align: right;
        
        @include phone {
            grid-row: 3 / 4;
            
            text-align: center;
        }
    }

    &__toggle {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 3.5rem;
        // position: relative;
        // display: inline-block;
        
        @include phone {
            margin-bottom: 2.5rem;
        }

        p {
            margin: 0 1.5rem;
            font-weight: 800; 
            font-size: 1.1rem;
        }

        &--yearly {
            position: relative;

            &::after {
                content: "25% Discount";
                position: absolute; 
                margin-left: 1rem;
                color: $light-red;
                background-color: hsl(14, 100%, 94%);
                padding: 3px 4px;
                transform: translateY(-1px);
                width: max-content;

                @include phone {
                    content: "-25%"; 
                    border-radius: 3rem;
                    padding: 3px 8px;
                    // margin-left: .5rem;
                }
            }
        }
    }
}