/* Base Styles */

html {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;

    @include respond(tab-land) {
        font-size: 50%;
    } 

    @include respond(tab-port) {
        font-size: 43.8%;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    position: relative; 
}
