/* Base Styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;

}

body {
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: "Kumbh Sans", sans-serif;
    
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(7rem, 1fr) min-content minmax(7rem, 1fr);
}

.container {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-color: white; 
    border-radius: 2rem;
    padding: 6rem;
    margin: auto;
    overflow: hidden;
}

.orange-box {
    grid-row: 2 / 3;

    z-index: 2;

    display: grid; 
    align-items: center;
    transform: translate(14rem, 5rem)
}

.img-woman {
    position: relative; 
    z-index: 1;
    
}

.img-woman img {
    
    width: 110%;
    height: auto;
    grid-column: 1 / 2; 
    transform: translateX(-12rem);

}
.accordion {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.accordion__header {
    font-size: 3.5rem;
}

.accordion__item {
    font-size: 13px;
}

.accordion__question {
    border: none;
    background-color: transparent;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: left;
    display: flex; 
    justify-content: space-between;
    cursor: pointer; 
    padding-right: 1rem;
}

.accordion__question img {

}

.accordion__answer {
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.2s;
    /* padding: 1rem 0; */
}





.attribution-container {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: grid; 
    align-items: end;
}
