/* Base Styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;

}

body {
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: "Kumbh Sans", sans-serif;
    
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.acc-container {
    grid-column: 2 / 5;
    grid-row: 2 / 3;

    position: relative; 
    display: flex; 
    align-items: center;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-color: white; 
    border-radius: 2rem;
    padding: 6rem;
    overflow: hidden;
}

.orange-box {
    position: absolute;
    z-index: 3; 
    transform: translate(-50%, 0)
}

.img-woman {
    position: relative; 
    z-index: 1;
}

.img-woman img {
    width: 110%;
    height: auto;
    transform: translateX(-12rem);
}

.accordion {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.accordion__header {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.accordion__item {
    font-size: 1.3rem;
}

.accordion__question {
    border: none;
    background-color: transparent;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: left;
    display: flex; 
    justify-content: space-between;
    cursor: pointer; 
    padding: 0 1rem 1.5rem 0;
    outline: none; 
    transition: all .1s; 
}

.accordion__question:hover {
    color: hsl(14, 88%, 65%); 
}

.accordion__question--active {
    transition: all .3s; 
    font-weight: 700; 
}

.accordion__question--active:hover {
    color: black; 
}

.accordion__question img {
    margin-left: 1rem;
    transition: all .4s;
}

.accordion__answer {
    overflow: hidden;
    height: 0; 
    transition: all 0.5s;
}

.divider {
    /* border-top: hsl(240, 5%, 91%); */
    width: 100%;
    border: none;
    background-color:hsl(0, 0%, 89%);
    height: 1px;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1125px) {
    html {
        /* font-size: 50%; */
    }
}

@media only screen and (max-width: 1069px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        overflow: visible;
        justify-items: center;
    }

    .accordion__header {
        align-self: center;
    }

    .img-woman {
        position: relative;
        top: -80%;
    }

    .img-woman img{
        transform: translate(0rem, -30%);
        min-width: 200px;
        width: 80%;
        display: block; 
        margin: auto; 
    }
}

@media only screen and (max-width: 700px) {
    html {
        /* font-size: 50%; */
    }

    .container {
        padding: 4rem; 
    }

    .img-woman {
        position: relative;
        top: -65%;
    }
}



.attribution-container {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: grid; 
    align-self: end;
}
