.header {
    height: 50vh;
    background-image: url(/images/bg-pattern.svg);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    @include phone {
        height: 65vh;
    }
    
    &__title {
        z-index: 1;
        background-size: contain;
        text-align: center;
        height: 10rem;
        transform: translateY(-7.5rem);
    
        &--primary {
            font-size: 2.5rem;
            margin-bottom: 1.2rem;
        }
    
        &--secondary {
            font-size: 1.3rem;
            color: $grayish-blue;
        }
    }

    &__image {
        position: absolute;
        z-index: 0;
        transform: translateY(-9rem);
        width: 14rem;

        img {
            width: 100%;
        }
    }

}
