.main {
    background-color: $very-pale-blue;
}

.price-component {
    max-width: 57rem;
    margin: auto; 
    // padding: 4rem;
    box-shadow: 0px 20px 10px 0px hsl(225, 87%, 91%); 
    box-shadow: 0px 4px 15px 0px hsl(225, 54%, 85%); 
    color: $grayish-blue;
    transform: translateY(-40%);
    background: $white; 

    @include phone {
        margin: 0 2rem;
    }
}