*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Better practice to have box sizing here and declare it in the body in case we want to change box sizing properties in any plugins or components, etc.*/ }

html {
  font-size: 62.5%; }
  @media (max-width: 470px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

.card {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 470px) {
    .card {
      padding: 2.2rem;
      flex-direction: column;
      text-align: center;
      font-size: 1.2rem; } }
  .card__facts {
    list-style: none; }
    .card__facts li:not(:first-child) {
      margin-top: 1rem; }
    .card__facts li img {
      margin-right: 1.3rem; }
  .card__button {
    background-color: #293356;
    color: #bdccff;
    padding: 1.1rem 4.5rem;
    border-radius: 3rem; }
    @media (max-width: 470px) {
      .card__button {
        margin: 2.7rem 0 1rem 0; } }

.range-slider {
  -webkit-appearance: none;
  background: #a5f3eb;
  border-radius: 10px;
  height: 8px;
  outline: none;
  grid-column: 1 / 3;
  margin: 2.5rem 0; }
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #10d5c2;
    background-image: url(/images/icon-slider.svg);
    background-size: 22px;
    background-position: 49% 51%;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    box-shadow: 0px 10px 15px 5px rgba(16, 213, 194, 0.4); }

.slider {
  padding: 4rem;
  border-bottom: 1px solid #d9e0e6; }
  @media (max-width: 470px) {
    .slider {
      padding: 2rem; } }
  .slider__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 2rem 0; }
    @media (max-width: 470px) {
      .slider__stats {
        grid-template-columns: 1fr;
        text-align: center; } }
  .slider__views {
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: center; }
  .slider__price {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .slider__price span {
      font-size: 3.5rem;
      color: black;
      font-weight: 800;
      margin-right: .5rem; }
    @media (max-width: 470px) {
      .slider__price {
        grid-row: 3 / 4;
        justify-content: center; } }
  .slider__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem; }
    @media (max-width: 470px) {
      .slider__toggle {
        margin-bottom: 2.5rem; } }
    .slider__toggle p {
      margin: 0 1.5rem;
      font-weight: 800;
      font-size: 1.1rem; }
    .slider__toggle--yearly {
      position: relative; }
      .slider__toggle--yearly::after {
        content: "25% Discount";
        position: absolute;
        margin-left: 1rem;
        color: #ff8c66;
        background-color: #ffe8e0;
        padding: 3px 4px;
        transform: translateY(-1px);
        width: max-content; }
        @media (max-width: 470px) {
          .slider__toggle--yearly::after {
            content: "-25%";
            border-radius: 3rem;
            padding: 3px 8px; } }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px; }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .toggle-switch input:checked + .toggle-switch__slider {
      background-color: #2196f3; }
    .toggle-switch input:checked + .toggle-switch__slider:before {
      transform: translateX(21px); }
  .toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    border-radius: 34px; }
    .toggle-switch__slider::before {
      position: absolute;
      content: "";
      height: 14px;
      width: 15px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: transform .4s;
      transition: transform .4s;
      border-radius: 50%; }

.header {
  height: 50vh;
  background-image: url(/images/bg-pattern.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 470px) {
    .header {
      height: 65vh; } }
  .header__title {
    z-index: 1;
    background-size: contain;
    text-align: center;
    height: 10rem;
    transform: translateY(-7.5rem); }
    .header__title--primary {
      font-size: 2.5rem;
      margin-bottom: 1.2rem; }
    .header__title--secondary {
      font-size: 1.3rem;
      color: #858fad; }
  .header__image {
    position: absolute;
    z-index: 0;
    transform: translateY(-9rem);
    width: 14rem; }
    .header__image img {
      width: 100%; }

.main {
  background-color: #fafbff; }

.price-component {
  max-width: 57rem;
  margin: auto;
  box-shadow: 0px 20px 10px 0px #d4defc;
  box-shadow: 0px 4px 15px 0px #c4ceed;
  color: #858fad;
  transform: translateY(-40%);
  background: white; }
  @media (max-width: 470px) {
    .price-component {
      margin: 0 2rem; } }
